################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCHOT3/.vs/MVCHOT3/FileContentIndex/0ff627f3-5a33-4115-bbd1-1a1ebdfe3da3.vsidx
