@model List<MVCHOT3.Models.BowlingBall>
@{
	ViewBag.Title = "Admin Bowling Ball List";
}

<h1>Admin Bowling Ball List</h1>
<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<li class="list-group-item">
				<a asp-controller="BowlingBall" asp-action="List" asp-route-brand="motiv" class="nav-link">Motiv</a>
			</li>
			<li class="list-group-item">
				<a asp-controller="BowlingBall" asp-action="List" asp-route-brand="roto grip" class="nav-link">Roto Grip</a>
			</li>
			<li class="list-group-item">
				<a asp-controller="BowlingBall" asp-action="List" asp-route-brand="hammer" class="nav-link">Hammer</a>
			</li>
			<li class="list-group-item">
				<a asp-controller="BowlingBall" asp-action="List" asp-route-brand="pyramid" class="nav-link">Pyramid</a>
			</li>
		</ul>
	</div>
	<div class="col-md-10">
		<table class="table table-info table-striped">
			<tr>
				<th>
					Name
				</th>
				<th>
					Brand
				</th>
				<th>
					Price
				</th>
				<th>
					Edit
				</th>
				<th>
					Delete
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Brand)
					</td>
					<td>
						$@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						<a asp-controller="BowlingBall" asp-action="Add" asp-route-id=@item.Id asp-route-slug="@item.Slug" class="btn btn-warning">Edit Bowling Ball</a>
					</td>
					<td>
						<a asp-controller="BowlingBall" asp-action="Delete" asp-route-id=@item.Id asp-route-slug="@item.Slug" class="btn btn-danger">Delete Bowling Ball</a>
					</td>
				</tr>
			}
		</table>
		<a asp-controller="BowlingBall" asp-action="Add" class="btn btn-primary">Add New Bowling Ball</a>
	</div>
</div>
